$dark: #262626;
$dark-grey: #193439;
$white-grey: #999999;
$black: #000;
$white: #fff;
$grey: #EFF0EF;
$orange: #F97402;


$desktop:  1920px;
$sm-desktop: 1440px;
$tablet: 1023px;
$sm-tablet: 768px;
$mobile: 389px;